HOSTNAME="oci.1"

DB_HOST="***"
DB_PORT=5432
DB_NAME="***"
DB_USER="***"
DB_PASSWORD="***"
INFLUX_URL="http://localhost:8086"
INFLUX_TOKEN="TR70yRgGQ3N3KIuHrM3IpHzq0Ce1RuZhiUvFLzcSx_WF_5Vk2sF6XTf9xT_u7GxuTN6HL8IgKn4HmkiuseVhRQ=="

RPM_VEHICLE=60 // x/min
RPM_MAP=120 // x/min
RPM_CITIES=0.0014 // x/min
SCRAPE_SINGLE_CITY_ID=

TOMTOM_API_KEY="***"
TRAFFIC_FLOW_MINS=30
TRAFFIC_AREA_NORTHEAST=
TRAFFIC_AREA_SOUTHWEST=
TRAFFIC_FLOW_ZOOM=13